<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Urna</title>
  </head>
  <body ng-controller="controller">
    <div class="container d-flex flex-column text-center justify-around pt-5">
      <h1 class="mb-2">Candidatos à presidência</h1>
      <button
        class="btn btn-primary w-25 align-self-center mb-5"
        ng-click="addVote(candidato)"
        data-toggle="modal"
        data-target="#modalAdd"
      >
        Adicionar Candidato
      </button>

      <div class="row justify-between">
        <div
          class="text-center col-sm-12 col-lg-3 mb-5"
          ng-repeat="candidato in candidatos"
        >
          <div class="card shadow">
            <img
              src="{{candidato.imagem}}"
              style="height: 10rem; object-fit: cover"
              class="card-img-top mw-25"
            />
            <div class="card-body">
              <h5 class="card-title">{{candidato.nome}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{candidato.partido}}
              </h6>
              <strong
                ><p class="card-text">Votos: {{candidato.votos}}</p></strong
              >
              <button class="btn btn-primary" ng-click="addVote(candidato)">
                Votar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modalAdd"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAddTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAddTitle">Novo Candidato</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ng-submit="addCandidato()">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input
                  type="nome"
                  class="form-control"
                  id="nome"
                  ng-model="nome"
                  name="nome"
                  aria-describedby="nomeHelp"
                  placeholder="Nome"
                />
                <small id="nomeHelp" class="form-text text-muted"
                  >Nome completo do candidato</small
                >
              </div>
              <div class="form-group">
                <label for="partido">Partido</label>
                <input
                  type="text"
                  class="form-control"
                  id="partido"
                  ng-model="partido"
                  name="partido"
                  placeholder="Partido"
                />
              </div>

              <div class="form-group">
                <label for="partido">Imagem</label>
                <input
                  type="text"
                  class="form-control"
                  id="image"
                  ng-model="image"
                  name="image"
                  placeholder="URL"
                />
              </div>
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script src="./app.js"></script>
</html>
